# {{ ansible_managed }}
[Match]
Name={{ item.iface }}

[Network]
{%  if item.inet == 'ipv4ll' %}
IPv4LL=true
{%  endif %}
{%  if item.inet == 'static' %}
{%    for item in item.addresses %}
Address={{ item }}
{%    endfor %}
{%  endif %}

